body {
  font-family: 'Georgia', serif;
  min-height: 400px;
  background-image: url(calculadora.png);
  background-color: #30d8d0;
  background-size: 65vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 35px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
  margin-bottom: 40px;
}

.resultado {
    padding-bottom: 30px;
}

label {
    display: inline-block;
    width: 135px;
    text-align: right;
}

input{
    width: 180px;
    height: 25px;
    border-radius: 3px;
    border: none;
}
  
.button{
    background-color: #2b2a2a;
    font-size: 17px;
    padding-top: 11px;
    padding-bottom: 30px; 
    color: white;
    border: 1px solid #1d881d;
    text-align: center;
} 

.button:hover{
    background-color: #121212;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }